<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/about.css">
</head>
<body>
    <div id="main">
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">COVID-19</a></li>
                <li><a href="/">Cases</a></li>
                <LI><a href="/contact">Contacts</a></LI>
            </ul>
        </nav>
    </div>


<!--imgdes-->
<div id="img">
    <h3>SAFETY MEASURES TO AVOID CORONAVIRUS</h3>
    <div class="coll">
        <img src="/static/mask1.jpg" alt="image1" width="500px" height="300px">
        <p class="desc">Wear nose mask regularly</p>
    </div>
    <div class="coll">
        <img src="/static/washhand.jpg" alt="img2">
        <p class="desc">Wash your hands frequently</p>
    </div>
    <div class="coll">
        <img src="/static/social dis.jpg" alt="img3">
        <p class="desc">Practice social distancing</p>
    </div>
    <div class="coll">
        <img src="/static/handsaniter.jpg" alt="img4">
        <p class="desc">Use hand sanitizer frequently</p>
    </div>
    <div class="coll">
        <img src="/static/handshak.jpg" alt="img5">
        <p class="desc">Avoid handshacking</p>
    </div>
</div>

<!--what u should know-->
<div id="cont1">
    <div id="know">
        <p class="title"> <b>What are Coronaviruses?</b> </p>
        <p class="content">
            Coronaviruses are a large group of viruses that are common among animals. In rare cases, they are what scientists call zoonotic, meaning they can be transmitted from animals to humans, according to the US Centers for Disease Control and Prevention. It is a dangerous diseases with incubation period between 4-6 days. It is fatal especially for those with weakened immune system, the elderly and the very young. It could also result in Pneumonia and bronchitis.
        </p>
    </div>
    
<!--about perevention-->
    <div id="about">
        <p class="title"> <b>Prevention Of Coronaviruses?</b> </p>
        <p class="content">
            Wash your hands with soap and water before touching anything including your eyes, nose and mouth
            Cover your mouth and nose when you cough or sneeze
            Disinfect the objects and surfaces you touch.
            If you are sick, stay home and avoid crowds and contact with others.        
        </p>
    </div>
<!--signs-->
    <div id="prev">
        <p class="title"> <b>Signs and Symptioms</b> </p>
        <p class="content">
            <ul>
                <li>FEVER</li>
                <LI>RUNNING NOSE</LI>
                <LI>COUGH</LI>
                <LI>SORE THROAT</LI>
                <LI>HEADACHE</LI>
            </ul>       
        </p>

    </div>
<!--symptoms-->
    <div id="symptoms">
        <div id="prev2">
            <p class="title"> <b>Treatment</b> </p>
            <p class="content">
                There is no specific treatment. Most of the time, symptoms will go away on their own.
                Doctors can relieve symptoms by prescribing a pain or fever medication.
                A room humidifier or a hot shower can help with a sore throat or cough.
                Drink plenty of fluids
                Get rest and sleep as much as possible.
                If symptoms feel worse than a standard cold, see your doctor 
            </p>
    </div>
    </div>

    
    


    <footer>
        <div class="fotcont">
            <h3 style="color: white;">Social Media Handles</h3>
            <a href="https://www.instagram.com/dekin_graphix?r=nametag"><img src="/static/instagram.png" alt="instagram"></a>
            <a href="https://www.facebook.com/Dekin-Graphix-112864050458209"><img src="/static/facebook.png" alt="facebook"></a>
            <a href="https://wa.me/+23326195074"><img src="/static/whatsapp.png" alt="whatsapp"></a>
        </div>
        &copy; copyright 26 <sup>th</sup> july, 2020
    </footer>
</body>
</html>