<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div id="main">
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">COVID-19</a></li>
                <li><a href="/">Cases</a></li>
                <LI><a href="/contact">Contacts</a></LI>
            </ul>
        </nav>
    </div>


    <div id="data">
        <h3>YOU CAN SEND US A MESSAGE VIA EMAIL</h3>
        <form action=" mailto: phaisalsalif@gmail.com ">
            <label for="name" >Name   :</label>
            <input type="text" name="" id="" required><br>
            <label for="email">Email   :</label>
            <input type="email" placeholder="" required><br>
            <label for="email">MSg. :</label>
            <input type="email" placeholder="your Message" required><br>
            <label for="email">G.P.S   : </label>
            <input type="email" placeholder="G.P.S address" required><br>
            
            <a href="mailto: phaisalsalif@gmail.com" type="GET"><input type="button" name="" id="btn" value="Send Us an Email"></a>
        </form>

        <address>
            <h4>Phone: 0558628473</h4>
            <h4>Location : Suhum(ministries)</h4>
            <h4>Click to locate us via G.P.S <a href="https://goo.gl/maps/4XbxMxDsyPq3YYLK7" style="color: black;"> ES-0002-0644</a>  </h4>
        </address>



    </div>

    <footer>
        <div class="fotcont">
            <h3 style="color: white;">Social Media Handles</h3>
            <a href="https://www.instagram.com/dekin_graphix?r=nametag"><img src="/images/instagram.png" alt="instagram"></a>
            <a href="https://www.facebook.com/Dekin-Graphix-112864050458209"><img src="/images/facebook.png" alt="facebook"></a>
            <a href="https://wa.me/+23326195074"><img src="/images/whatsapp.png" alt="whatsapp"></a>
        </div>
        &copy; copyright 26 <sup>th</sup> july, 2020
    </footer>
    
</body>
</html>