<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div id="main">
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">COVID-19</a></li>
                <li><a href="/">Cases</a></li>
                <LI><a href="/contact">Contacts</a></LI>
            </ul>
        </nav>
    </div>
    <h1>COVID-19</h1>


<!--silder-->
    <div id="slider">
        <figure>
			<img src="/static/covid-19.png">
			<img src="/static/social dis.jpg">
			<img src="/static/7109.jpg">
			<img src="/static/washhand.jpg">
		</figure>
        
    </div>

<!--corna display-->

    <div id="coro">
        <h3>WHAT YOU SHOULD KNOW ABOUT COVID-19</h3>
        <div id="top">
            
            <p class="para">
                The history of human coronaviruses began in 1965 when Tyrrell and Bynoe1 found that they could passage a virus named B814. It was found in human embryonic tracheal organ cultures obtained from the respiratory 
                tract of an adult with a common cold. The presence of an infectious agent was demonstrated by inoculating the medium from these cultures intranasally in human volunteers; colds were produced in a significant proportion of subjects, but Tyrrell and Bynoe were unable to grow the agent in tissue culture at that time.
                
                </p>
        </div>

        <div id="dow">
            <p class="para">
                At about the same time, Hamre and Procknow2 were able to grow a virus with unusual properties in tissue culture from samples obtained from medical students with colds. Both B814 and Hamre's virus, which she called 229E, were ether-sensitive and therefore presumably required a lipid-containing coat for infectivity, 
                 but these 2 viruses were not related to any known myxo- or paramyxoviruses. While working in the laboratory of Robert Chanock at the National Institutes of Health, McIntosh et al3 reported the recovery of multiple strains of ether-sensitive agents from the human respiratory tract by using a technique similar to that of Tyrrell and Bynoe. These viruses were termed “OC” to designate that they were grown in organ cultures.            
            </p>
        </div>

    </div>

<!--footer section-->
    <footer>
        <div class="fotcont">
            <h3 style="color: white;">Social Media Handles</h3>
            <a href="https://www.instagram.com/dekin_graphix?r=nametag"><img src="/static/instagram.png" alt="instagram"></a>
            <a href="https://www.facebook.com/Dekin-Graphix-112864050458209"><img src="/static/facebook.png" alt="facebook"></a>
            <a href="https://wa.me/+23326195074"><img src="/static/whatsapp.png" alt="whatsapp"></a>
        </div>
        &copy; copyright 26 <sup>th</sup> july, 2020
    </footer>

    


    
    
</body>

</html>